.button__loader{
  border: none;
  outline: none;
  position: relative;
  padding: 1.25rem 2.25rem;
  background: #1800ee;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  box-shadow:018px 40px hsla(231, 56%, 56%, 0.3);
  overflow: hidden;
  cursor: wait;
  position: centre;
 }
 .button_text{
  position: relative;
 }
 .button__loader::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: repeating-linear-gradient(
    60deg,
    transparent,
    transparent 0.75rem,
    #1500d6 0.75rem,
    #1900f3 1.5rem
   );
  animation: load 1s infinite linear;
 }
 @keyframes load{
  0%{
     transform: translateX(0);
   }
  100%{
     transform: translateX(-1.75rem);
   }
 }